@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

body {
  background-image: url("/images/background.png");
}
html {
  scroll-behavior: smooth;
}
nav {
  text-align: right;
  margin-top: 58px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 90px;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-family: Roboto;
}
nav ul li a:hover {
  color: #088ae8;
}
html {
  scroll-behavior: smooth;
}

.active {
  color: #088ae8;
}
.logo {
  position: absolute;
  left: 57px;
  top: 46px;
}
.ham {
  cursor: pointer;
  width: 30px;
  vertical-align: middle;
  right: 57px;
}

.q1 {
  position: absolute;
  width: 810px;
  height: 174px;
  left: 240px;
  top: 284px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 65px;
  line-height: 60px;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.q2 {
  position: absolute;
  text-align: justify;
  width: 670px;
  height: 132px;
  left: 245px;
  top: 520px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 44px;
  /* or 183% */

  display: flex;
  align-items: center;

  color: #000000;
}
.pic {
  position: absolute;
  width: 989px;
  height: 877px;
  left: 45.11%;
  top: 10.71%;
}
.bt1 {
  position: absolute;
  width: 302px;
  height: 52px;
  left: 275px;
  top: 873px;
  mix-blend-mode: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #088ae8;
  border-radius: 26px;
}
.aboutme {
  text-decoration: none;
  position: absolute;
  width: 141px;
  height: 83px;
  left: 74px;
  top: 12px;

  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.bt2 {
  position: absolute;
  width: 302px;
  height: 52px;
  left: 701px;
  top: 873px;
  mix-blend-mode: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #000000;
  border-radius: 26px;
}
.contactme {
  text-decoration: none;
  position: absolute;
  width: 149px;
  height: 28px;
  left: 77px;
  top: 12px;

  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.biohead {
  position: absolute;
  width: 975px;
  height: 53px;
  left: 1250px;
  top: 1290px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 110px;
  line-height: 53px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.39em;
  color: rgba(0, 0, 0, 0.42);
  transform: rotate(-90.04deg);
}
.rec {
  position: absolute;
  width: 1500px;
  height: 850px;
  left: 50px;
  top: 1045px;

  background: rgba(8, 138, 232, 0.17);
}
.bio {
  position: absolute;
  text-align: justify;
  width: 1295px;
  height: 857px;
  left: 112px;
  top: 90px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  /* or 116% */

  letter-spacing: 0.05em;

  color: #000000;
}
.bt3 {
  position: absolute;
  width: 302px;
  height: 52px;
  left: 112px;
  top: 750px;
  mix-blend-mode: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #ffffff;
  border-radius: 26px;
}
.cv {
  text-decoration: none;
  position: absolute;
  width: 149px;
  height: 28px;
  left: 77px;
  top: 12px;

  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #088ae8;
}

.david {
  text-decoration: none;
  position: absolute;
  width: 149px;
  height: 28px;
  left: 77px;
  top: 12px;

  font-family: Roboto;
  font-size: 20px;
  line-height: 28px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #088ae8;
}

.box {
  position: absolute;
  width: 1082px;
  height: 424px;
  left: 22%;
  top: 2416px;

  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

.head1 {
  position: absolute;
  width: 350px;
  height: 362px;
  left: 480px;
  top: 2445px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 18px;

  color: #000000;
}

.head2 {
  position: absolute;
  width: 302px;
  height: 362px;
  left: 480px;
  top: 2475px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;

  color: #000000;
}
.contact-info {
  position: absolute;
  list-style-type: none;
  text-decoration: none;
  font-family: Roboto;
  font-weight: normal;
  left: 440px;
  top: 2600px;
  line-height: 50px;
  vertical-align: middle;
}
.box1 {
  position: absolute;
  width: 283px;
  height: 45px;
  left: 830px;
  top: 2482px;

  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.box2 {
  position: absolute;
  width: 283px;
  height: 45px;
  left: 1168px;
  top: 2482px;

  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.box3 {
  position: absolute;
  width: 621px;
  height: 45px;
  left: 830px;
  top: 2543px;

  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.box4 {
  position: absolute;
  width: 621px;
  height: 148px;
  left: 830px;
  top: 2604px;

  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.bt4 {
  position: absolute;
  width: 204px;
  height: 24px;
  left: 1220px;
  top: 2772px;

  background: #088ae8;
  border: 5px solid #088ae8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.david_ideale {
  position: absolute;
  width: 302px;
  height: 52px;
  left: 500px;
  top: 750px;
  mix-blend-mode: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #ffffff;
  border-radius: 26px;
}
.messagenow {
  text-decoration: none;
  position: relative;
  width: 153px;
  height: 19px;
  left: 40px;
  top: 2.5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

.grad1 {
  position: absolute;
  width: 100%;
  height: 240px;
  left: 0px;
  top: 2109px;
  background: linear-gradient(
    91.1deg,
    rgba(58, 135, 190, 0.76) 9.22%,
    rgba(8, 138, 232, 0.444058) 51.31%,
    rgba(116, 174, 217, 0.48) 91.21%
  );
  border: 0px solid #000000;
  transform: rotate(-180deg);
}

.grad2 {
  position: absolute;
  width: 100%;
  height: 240px;
  left: 0px;
  top: 2907px;
  background: linear-gradient(
    91.1deg,
    rgba(8, 138, 232, 0.79) 9.22%,
    rgba(8, 138, 232, 0.444058) 51.31%,
    rgba(116, 174, 217, 0.48) 91.21%
  );
  border: 0px solid #000000;
}
.line1 {
  position: absolute;
  width: 960px;
  height: 0px;
  left: 50px;
  top: 118px;

  border: 5px solid #088ae8;
  background-color: #088ae8;
  transform: rotate(-0.1deg);
}

.line2 {
  position: absolute;
  width: 0px;
  height: 1084.01px;
  left: 850px;
  top: 128px;
  background-color: #088ae8;
  border: 12px solid #088ae8;
  transform: rotate(-0.22deg);
}

.porthead {
  position: absolute;

  left: 50px;
  right: 50px;
  top: 80px;

  font-family: Coustard;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 108px;
  letter-spacing: 0.07em;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portyear {
  position: absolute;
  width: 64px;
  height: 39px;
  left: 745px;
  top: 190px;

  font-family: Coustard;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 39px;

  color: #000000;
}
.portdim {
  position: absolute;
  width: 153px;
  height: 34px;
  top: 195px;
  left: 850px;
  text-align: center;
  font-family: Coustard;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;

  /* identical to box height */

  color: #000000;
}
.portmat {
  position: absolute;
  width: 99px;
  height: 39px;
  left: 1050px;
  top: 190px;

  font-family: Coustard;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 39px;

  color: #000000;
}
.bara {
  position: absolute;
  width: 0px;
  height: 25px;
  left: 830px;
  top: 220px;

  border: 5px solid #088ae8;
}
.barb {
  position: absolute;
  width: 0px;
  height: 25px;
  left: 1020px;
  top: 220px;

  border: 5px solid #088ae8;
}
.side1 {
  position: absolute;
  width: 400px;
  height: 600px;
  left: 110px;
  top: 340px;

  border: 5px solid #088ae8;
  box-sizing: border-box;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 159px;
}
.side2 {
  position: absolute;
  width: 400px;
  height: 600px;
  left: 580px;
  top: 340px;

  border: 5px solid #088ae8;
  box-sizing: border-box;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 159px;
}
.side3 {
  position: absolute;
  width: 400px;
  height: 600px;
  left: 1050px;
  top: 340px;

  border: 5px solid #088ae8;
  box-sizing: border-box;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 159px;
}

.box6 {
  position: absolute;
  left: 90px;
  height: 900px;
  right: 90px;
  top: 1000px;
  background: rgba(8, 138, 232, 0.17);
}
.arti2 {
  position: relative;
  height: 850px;
  width: 1500px;
  left: 100px;
  top: 70px;
  right: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.bt6 {
  position: absolute;
  width: 302px;
  height: 52px;
  left: 180px;
  top: 1800px;
  mix-blend-mode: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #088ae8;
  border-radius: 26px;
}
.articles {
  text-decoration: none;
  position: absolute;
  width: 149px;
  height: 28px;
  left: 77px;
  top: 12px;

  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.bt7 {
  position: absolute;
  width: 302px;
  height: 52px;
  left: 550px;
  top: 1800px;
  mix-blend-mode: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #088ae8;
  border-radius: 26px;
}
.videos {
  text-decoration: none;
  position: absolute;
  width: 149px;
  height: 28px;
  left: 77px;
  top: 12px;

  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.bt8 {
  position: absolute;
  width: 200px;
  height: 52px;
  right: 50px;
  top: 880px;
  mix-blend-mode: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #088ae8;
  border-radius: 26px;
}
.back2 {
  text-decoration: none;
  position: absolute;
  width: 149px;
  height: 28px;
  left: 30px;
  top: 12px;

  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.footervideos {
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 2650px;
  background-color: #088ae8;
  border: 0px solid #000000;
  transform: rotate(-180deg);
}
.pagination {
  display: inline-block;
  position: absolute;
  top: 4050px;
  left: 750px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #000102;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.pagination2 {
  display: inline-block;
  position: absolute;
  top: 2260px;
  left: 750px;
}

.pagination2 a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination2 a.active {
  background-color: #000102;
  color: white;
  border-radius: 5px;
}

.pagination2 a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.footer {
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 4000px;
  background-color: #088ae8;
  border: 0px solid #000000;
  transform: rotate(-180deg);
}
.footer2 {
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 2200px;
  background-color: #088ae8;
  border: 0px solid #000000;
  transform: rotate(-180deg);
}

.arttext {
  color: #000000;
  text-decoration: none;
  list-style-type: none;
  font-family: Roboto;
  font-weight: normal;
  line-height: 60px;
  padding-left: 100px;
}
.arttext:hover {
  color: #088ae8;
}
.artbox1 {
  position: absolute;
  left: 90px;
  height: 600px;
  right: 90px;
  top: 160px;
  background: rgba(8, 138, 232, 0.17);
}
.artbox4 {
  position: absolute;
  left: 90px;
  height: 380px;
  right: 90px;
  top: 160px;
  background: rgba(8, 138, 232, 0.17);
}
.artbox6 {
  position: absolute;
  left: 90px;
  height: 550px;
  right: 90px;
  top: 160px;
  background: rgba(8, 138, 232, 0.17);
}

.artimg {
  margin-top: 100px;
  margin-left: 600px;
  border-radius: 50px;
  border-style: double;
  border-width: thick;
}

.art {
  text-align: left;
  margin-top: 58px;
  list-style-type: none;
}
.footerexhi {
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 2850px;
  background-color: #088ae8;
  border: 0px solid #000000;
  transform: rotate(-180deg);
}
input {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  font-size: large;
  font-weight: 500;
}
textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  font-size: x-large;
  font-weight: 500;
}
input::placeholder {
  letter-spacing: 5px;
  padding: 15px;
}
textarea::placeholder {
  letter-spacing: 5px;
  padding: 15px;
}
/* WORK SECTION STARTS*/
.work-img{
  transition: transform .5s;
  box-shadow: 3px 3px 8px rgb(0,0,0,0.5);
}
.work-img:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 10px rgb(0,0,0,0.6);
}
.work-card-bg{
    position: absolute;
    top: 0%;
    left: 23%;
    width: 183px;
    height: 263px;
    transform: rotate(
-13deg);
    z-index: -1;
    background: #088ae8;
    border-radius: 10px;
     transition: transform .2s;
}
.work-name{
  font-family: Coustard;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 51px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 4px solid #088ae8;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.work-tag{
    font-family: Coustard;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 20px;
    color: #000000;
}
.work-bar{
  border: 3px solid #088ae8;
  background: #088ae8;
  height:30px;
}
.responsive{
  width: 100%;
  max-width: 300px;
  height: auto;
}
/* WORK SECTION ENDS*/